/***
global
styling

***/
body {
  font-family: 'Noto Sans TC', sans-serif;
}

.current {
  color: gold;
}

@media (max-width: 600px) {
  a {
    color: white;
    font-size: 20px;
    text-decoration: none;
    padding: 2px;
    margin-bottom: ;
  }
}

@media (min-width: 600px) {
  a {
    color: white;
    font-size: 45px;
    text-decoration: none;
    padding: 1%;
    margin-bottom: 10px;
  }
}

@media (max-width: 600px) {
  .head-nav {
    top: 0px;
    width: 100%;
    text-align: center;
    position: absolute;
    margin-bottom:25%;
    padding: 2%;
    height: 10%;
    color: white;
    background-color: rgba(1, 1, 1, 0.5);
  }
}

@media (min-width: 600px) {
  .head-nav {
    text-align: center;
    height: 5%;
    color: white;
    padding: 20px;
    background-color: rgba(1, 1, 1, 0.4);
  }
}

/***

home page styling

***/
.home-body {
  text-align: center;
  background-color: black;
  background-image: url(jo-jo-101.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.home-display {
  text-align: center;
  display: grid;
  margin-left: 10%;
  margin-right: 10%;
  background-color: rgba(250, 250, 250, 0.3);
  grid-auto-columns: 1fr, 1fr, 1fr;
  grid-auto-rows: minmax(87px, auto);
  grid-template-areas:
    "... home-intro ..."
}
.body-p {
  font-size: 35px;
}

.index-intro {
  grid-area: home-intro;
}

.index-directions {
  color: red;
  text-decoration: underline;
}

#underline {
  text-decoration: underline;
}
.responsive {
  width: 100%;
  height: auto;
}

.responsive-1 {
  width: 100%;
  height: auto;
}



/***

contact styling

***/
.contact-body {
  text-align:center;
  background-color: rgb(105, 166, 120);
}

.contact-container {
  background-color: rgb(250, 250, 250, 0.4);
  margin-left: 10%;
  margin-right: 10%;
  display: grid;
  grid-auto-columns: 1fr, 1fr 1fr;
  grid-auto-rows: minmax(87px, auto);
  grid-template-areas:
    "... con-soc ..."
    "... con-space ...";
}

.contact-social {
  grid-area: con-soc;
}
.contact-space{
  grid-area: con-space;
  height:5%;
}
/***

location styling


***/
.info-container {
  margin-left: 10%;
  margin-right: 10%;
  background-color: white;
  display: grid;
  grid-gap: ;
  grid-auto-columns: 1fr, 1fr, 1fr;
  grid-auto-rows: minmax(87px, auto);
  grid-template-areas:
    "... info-add ..."
    "... location ..."
    "... contact ...";
}

.info-address {
  grid-area: info-add;
}

.info-body {
  text-align: center;
  background-color: rgb(105, 166, 120);
}

.info-location {
  grid-area: location;
  padding-bottom: 1fr;
}
.responsive-map {
  width: 100%;
  height: 800px;
}
.info-contact {
  grid-area: contact;
}

.info-footer {
  height: 5%;
  color: white;
  padding: 15px;
}

/***

employment styling

***/
@media (max-width:900px) {
  .employment-body {
    text-align: center !important;
    background-color: ;
    background-image: url(jo-jo-101-mobile.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
  }
}
@media (max-width:1200px) {
  .employment-body {
    text-align: center;
    background-color: ;
    background-image: url(jo-jo-101.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

@media (min-width:1200px) {
  .employment-body {
    background-color: black;
    text-align: center;
    background-image: url(jo-jo-101.jpg);
    background-size: 100%, auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
}

@media (max-width: 900px) {
  .employment-container {
    background-color: rgba(5, 5, 5,0.5);
    margin:10%;
    padding-top: 10%;
    display: grid;
    color: rgb(105, 166, 120);
    background-size:100%;
    grid-auto-columns: 1fr, 1fr, 1fr;
    grid-auto-rows: minmax(87px, auto);
    grid-gap: 10%;
    grid-template-areas:
      "... em-title ..."
      "... em-hours ..."
      "... em-role ..."
      "... em-app ...";
  }
}
@media (max-width: 1200px) {
  .employment-container {
    background-color: rgba(5, 5, 5,0.5);
    margin:10%;
    display: grid;
    color: rgb(105, 166, 120);
    grid-auto-columns: 1fr, 1fr, 1fr;
    grid-auto-rows: minmax(87px, auto);
    grid-gap: 10%;
    grid-template-areas:
      "...bg-spacer ..."
      "... em-title ..."
      "... em-hours ..."
      "... em-role ..."
      "... em-app ...";
  }
}
@media (min-width: 1200px) {
  .employment-container {
    background-color: rgba(5, 5, 5,0.5);
    margin: 10%;
    display: grid;
    color: rgb(105, 166, 120);
    grid-auto-columns: 1fr, 1fr, 1fr;
    grid-auto-rows: minmax(87px, auto);
    grid-template-areas:
      "...bg-spacer ..."
      "... em-title ..."
      "... em-hours ..."
      "... em-role ..."
      "... em-app ...";
  }
}
@media (min-width:1200px){
.background-spacer{
  grid-area: bg-spacer;
  height:100%;}
}
.employment-title {
  grid-area: em-title;
}

@media (max-width:600px) {
  .employment-hours {
    grid-area: em-hours;
    font-size: 25px;
    color:black;
  }
}

@media (min-width: 600px) {
  .employment-hours {
    grid-area: em-hours;
    font-size: 35px;
  }
}

@media (max-width: 600px) {
  .employment-heading {
    font-size: 35px;
    font-weight: bolder;
    color: gold;
  }
}

@media (min-width: 600px) {
  .employment-heading {
    font-size: 45px;
    font-weight: bolder;
    color: gold;
  }
}

@media (max-width: 600px) {
  .p-hours {
    font-size: 25px;
    color:black;
  }
}

@media (min-width: 600px) {
  .p-hours {
    font-size: 35px;
  }
}

.employment-role {
  grid-area: em-role;
}

.employment-application {
  grid-area: em-app;
  color:black;
}

@media (max-width:600px) {
  .employment-incentives {
    font-size: 25px;
    color:black;
  }
}

@media (min-width:600px) {
  .employment-incentives {
    font-size: 35px;
  }
}

/***

gallery styling

***/



.amenity-body {
  text-align: center;
  background-color: rgb(105, 166, 120);
}

.amenities-container {
  background-color: ;
  margin-left: 10%;
  margin-right: 10%;
  display: grid;
  grid-auto-columns: 1fr, 1fr, 1fr;
  grid-auto-rows: minmax(87px, auto);
  grid-template-areas:
    "...  am-gal  ...";
}



.amenities-gallery {
  grid-area: am-gal;
}


