body {
  font-family: 'Noto Sans TC', sans-serif;
}
@media screen and (min-width: 480px;){
  .employment-body {background-image: url(jo-jo-101.jpg);
  background-size: 100%, 100%;
  background-repeat: no-repeat;
    background-attachment: fixed;}}

  .employment-body {
    padding-top:15%;
    background-color:black;
    background-image: url(jo-jo-101-mobile.jpg);
  background-size: 100%, 120%;
  background-repeat: no-repeat;
    background-attachment: scroll;}


.body-p {
  font-size: 35px;
}
.index-intro{
grid-area:home-intro;
}
  
.index-directions{
 color:red; 
text-decoration:underline;
}
.home-body {
  text-align: center;
  background-color: rgb(105, 166, 120);
}

.home-display {
  text-align:center;
  display:grid;
  margin-left: 10%;
  margin-right: 10%;
  background-color: white;
  grid-auto-columns: 1fr,1fr,1fr;
  grid-auto-rows: minmax(87px,auto);
  grid-template-areas:
  "... home-intro ..."
}

.head-nav {
  height: 5%;
  color: white;
  padding: 20px;
  background-color: rgba(1,1,1,0.4);
}

.current {
  color: gold;
}

a {
  color: white;
  font-size: 45px;
  text-decoration: none;
  padding:1%;
  margin-bottom:10px;
}

.info-container {
  margin-left: 10%;
  margin-right: 10%;
  background-color: white;
  display: grid;
  grid-gap: ;
  grid-auto-columns: 1fr, 1fr, 1fr;
  grid-auto-rows: minmax(87px, auto);
  grid-template-areas:
    "... info-add ..."
    "... location ..."
    "... contact ...";
}
.info-address{
  grid-area:info-add;
}
.info-body {
  text-align: center;
  background-color: rgb(105, 166, 120);
}

.info-location {
  grid-area: location;
  padding-bottom: 1fr;
}

.info-contact {
  grid-area: contact;
}

.info-footer {
  height: 5%;
  color: white;
  padding: 15px;
}

.contact-body {
  background-color: rgb(105, 166, 120);
}

.contact-container {
  background-color: rgb(255,250,250, 0.4);
  margin-left: 10%;
  margin-right: 10%;
  display: grid;
  grid-auto-columns: 1fr, 1fr 1fr;
  grid-auto-rows: minmax(87px, auto);
  grid-template-areas:
    "... con-soc ...";
}

.contact-social {
  grid-area: con-soc;
}

.employment-body {
  text-align: center;
}


.employment-container{
  display:grid;
  color:black;

  background-color: rgb(255,250,250,0.3);
  grid-auto-columns: 1fr,1fr,1fr;
  grid-auto-rows: minmax(87px,auto);
  grid-template-areas:
  "... em-title ..."
  "... em-hours ..."
  "... em-role ..."
  "... em-app ...";
}
.employment-title{
  grid-area:em-title;
}
.employment-hours{
  grid-area:em-hours;
  font-size: 35px;
}
.p-hours{
  font-size:35px;}
.employment-role{
  grid-area:em-role;
}
.employment-application{
  grid-area:em-app;
}
.employment-incentives{
  font-size:35px;}
.amenity-body {
  text-align: center;
  background-color: rgb(105, 166, 120);
}

.amenities-container {
  background-color: ;
  margin-left: 10%;
  margin-right: 10%;
  display: grid;
  grid-auto-columns: 1fr, 1fr, 1fr;
  grid-auto-rows: minmax(87px, auto);
  grid-template-areas:
    "...  am-gal  ...";
}

.responsive {
  width: 100%;
  height: auto;
}
.responsive-1{
  width: 100%;
  height: auto;
}
.responsive-map{
  width:100%;
  height: 800px;
}

.amenities-gallery {
  grid-area: am-gal;
}

.contact-body {
  text-align: center;
}
#underline{
text-decoration:underline;
}
.bigger{
  color:gold;
  font-size:45px;
}
