body {
  font-family: 'Noto Sans TC', sans-serif;
}

@media (max-width:600px){
.employment-body {
  margin-top:8%;
  background-color: black;
  text-align:center;
  background-image: url(Preview.jpeg);
  background-size: 100%, auto;
  background-repeat: no-repeat;
  background-position: fixed;
  }
}
@media (min-width:600px){
 .employment-body {
    background-color: black;
    text-align: center;
    background-image: url(jo-jo-101.jpg);
    background-size: 100%, auto;
    background-repeat: no-repeat;
  background-attachment: fixed;
  }
}

.body-p {
  font-size: 35px;
}
.index-intro{
grid-area:home-intro;
}
  
.index-directions{
 color:red; 
text-decoration:underline;
}

.home-body {
  text-align: center;
background-color:black;
    background-image: url(jo-jo-101-mobile.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;}

.home-display {
  text-align:center;
  display:grid;
  margin-left: 10%;
  margin-right: 10%;
  background-color: rgba(255,250,250,0.2);
  grid-auto-columns: 1fr,1fr,1fr;
  grid-auto-rows: minmax(87px,auto);
  grid-template-areas:
  "... home-intro ..."
}
@media (max-width: 600px){
.head-nav {
  text-align:center;
  position:fixed;
  height: 5%;
  color: white;
  padding: 10px;
  background-color: rgba(1,1,1,0.4);
  }
}

@media (min-width: 600px){
.head-nav {
  text-align:center;
  height: 5%;
  color: white;
  padding: 20px;
  background-color: rgba(1,1,1,0.4);
  }
}

.current {
  color: gold;
}

@media (max-width: 600px){
a {
  color: white;
  font-size: 30px;
  text-decoration: none;
  padding:1%;
  margin-bottom:10px;
}
}
@media (min-width: 600px){
a {
  color: white;
  font-size: 45px;
  text-decoration: none;
  padding:1%;
  margin-bottom:10px;
}
}
.info-container {
  margin-left: 10%;
  margin-right: 10%;
  background-color: white;
  display: grid;
  grid-gap: ;
  grid-auto-columns: 1fr, 1fr, 1fr;
  grid-auto-rows: minmax(87px, auto);
  grid-template-areas:
    "... info-add ..."
    "... location ..."
    "... contact ...";
}
.info-address{
  grid-area:info-add;
}
.info-body {
  text-align: center;
  background-color: rgb(105, 166, 120);
}

.info-location {
  grid-area: location;
  padding-bottom: 1fr;
}

.info-contact {
  grid-area: contact;
}

.info-footer {
  height: 5%;
  color: white;
  padding: 15px;
}

.contact-body {
  background-color: rgb(105, 166, 120);
}

.contact-container {
  background-color: rgb(255,250,250, 0.4);
  margin-left: 10%;
  margin-right: 10%;
  display: grid;
  grid-auto-columns: 1fr, 1fr 1fr;
  grid-auto-rows: minmax(87px, auto);
  grid-template-areas:
    "... con-soc ...";
}

.contact-social {
  grid-area: con-soc;
}


.employment-container{
  margin-top:10%;
  display:grid;
  color:white;
  margin-left:10%;
  margin-right:10%;
  background-color: rgb(255,250,250,0.3);
  grid-auto-columns: 1fr,1fr,1fr;
  grid-auto-rows: minmax(87px,auto);
  grid-template-areas:
  "... em-title ..."
  "... em-hours ..."
  "... em-role ..."
  "... em-app ...";
}
.employment-title{
  grid-area:em-title;
}
@media (max-width:600px){
.employment-hours{
  grid-area:em-hours;
  font-size: 25px;
}
}
@media (min-width: 600px){
.employment-hours{
  grid-area:em-hours;
  font-size: 35px;
}
}
@media (max-width: 600px){
.employment-heading{
  font-size:35px;
  font-weight:bolder;
  color:gold;
  }
}

@media (min-width: 600px){
.employment-heading{
  font-size:45px;
  font-weight:bolder;
  color:gold;
  }
}
@media (max-width: 600px){
.p-hours{
  font-size:25px;}
}

@media (min-width: 600px){
.p-hours{
  font-size:35px;}
}
.employment-role{
  grid-area:em-role;
}
.employment-application{
  grid-area:em-app;
}
@media (max-width:600px){
.employment-incentives{
  font-size:25px;}
}
@media (min-width:600px){
.employment-incentives{
  font-size:35px;}
}

.amenity-body {
  text-align: center;
  background-color: rgb(105, 166, 120);
}

.amenities-container {
  background-color: ;
  margin-left: 10%;
  margin-right: 10%;
  display: grid;
  grid-auto-columns: 1fr, 1fr, 1fr;
  grid-auto-rows: minmax(87px, auto);
  grid-template-areas:
    "...  am-gal  ...";
}

.responsive {
  width: 100%;
  height: auto;
}
.responsive-1{
  width: 100%;
  height: auto;
}
.responsive-map{
  width:100%;
  height: 800px;
}

.amenities-gallery {
  grid-area: am-gal;
}

.contact-body {
  text-align: center;
}
#underline{
text-decoration:underline;
}

